* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  width: 400px;
  height: 400px;
  background-color: lightcoral;
  border: 1px solid black;
  margin-bottom: 30px;
}

.inner-box {
  width: 100px;
  height: 100px;
  background-color: lightseagreen;
  border: 1px solid white;
}